$bgPrimaryDark: #3A3A3A;
$bgPrimaryLight: #FFFFFF;

$bgSecondaryDark: #313131;
$bgSecondaryLight: #EEEEEE;

$textColorDark: #FFFFFF;
$textColorLight: #000000;

$menubarHeight: 80px;
$pageSize: calc(100vh - $menubarHeight);

:export {
  pageHeight: $pageSize;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

.anchor {
  display: block;
  position: relative;
  top: $pageSize;
  visibility: hidden;
}

.bgPrimaryDark {
  background: $bgPrimaryDark !important;
}

.bgPrimaryLight {
  background: $bgPrimaryLight !important;
}

.bgSecondaryDark {
  background: $bgSecondaryDark !important;
}

.bgSecondaryLight {
  background: $bgSecondaryLight !important;
}

.textColorDark {
  color: $textColorDark !important;
}

.textColorLight {
  color: $textColorLight !important;
}